
/* -----------------------------------page------------------------- */
*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: gray;
}
.page{
    max-width: 1440px;
    min-height: 8150px;
    margin: 0 auto;
    font-family: Baskerville, sans-serif;
    background-color: #fefdfc;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ---------------------------------header------------------------- */
.header{
    padding: 76px 64px 0 93px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.title{
    font-family: Baskerville;
    font-size: 66.7px;
    font-weight: 400;
    letter-spacing: 0.14em;
    color: #cb9e61;
}
.subtitle{
    margin: 27px 0 60px 0;
    font-family: Baskerville;
    font-size: 21.1px;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #929496;
}
/* ----------------------------------menu------------------------------ */
.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.menu__link{
    font-family: Montserrat;
    font-size: 14.6px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #8c8c8c; 
}
.menu__list-input{
    padding: 2px 0 2px 5px;
    max-width: 241px;
    min-height: 26px;
    background-color: #ffffff;
    border: 1px solid #8c8c8c;
    font-family: Montserrat;
    font-size: 12.3px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #8c8c8c;
}
.menu__link:hover{
    text-decoration: underline;
}
.menu__link--fat{
    font-weight: 700;
}
/* ----------------------------------registration--------------------- */
.registration{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 58px 0 11px 0;
  }
.registration__title{
    font-family: Baskerville;
    font-size: 14.3px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: #cb9e61;
}
.log-menu{
    background:  url(../images/box1/box1_bgrd2.png) 488px -300px/100% no-repeat,
    url(../images/box1/box1-bgrd1.png) 0 0/cover no-repeat;
}
.input{
    max-width: 1283px;
    height: 721px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 8px;
    padding: 0 26px 59px 0;
}
.input__email{
    padding: 10px;
    font-family: Montserrat;
    font-size: 7.6px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #8c8c8c;
    width: 239px;
    height: 31px;
    background-color: #ffffff;
    border: 1px solid #8c8c8c;
}
.input__btn{
    font-family: Baskerville;
    font-size: 19.2px;
    font-weight: 400;
    color: #ffffff;
    width: 239px;
    height: 31px;
    background-color: #cb9e61;
}
.header::before{
    content: '';
    background: url(../images/box1/box1_bgrd3.png) no-repeat;
    display: block;
    width: 546px;
    height: 453px;
    position: absolute;
    bottom: -210px;
    right: 0;
    z-index: -1;
}
/* -----------------------------------galery---------------------------- */
.gallery{
    padding: 39px 21% 0;
    text-align: center;
    position: relative;
    z-index: 1;
}
.gallery__title{
    text-align: center;
    margin: 39px 0 30px 0;
    font-family: Baskerville;
    font-size: 36.1px;
    font-weight: 400;
    color: #cb9e61;
}
.gallery__item{
    display: flex; 
    flex-direction: column;
    gap: 20px;
}
.gallery__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    flex: 0 0 230px;
    position: relative;
} 
.card::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-right: 5px solid white;
    border-top: 5px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 20px;
}                  
.card__text{
    padding: 3px 3px;
    text-align: center;
    width: 230px;
    min-height: 40px;
    background-color: #8c8c8c;
    font-family: Barlow;
    font-size: 9.9px;
    font-weight: 500;
    color: #ffffff;
}
.picture{
    width: 230px;
    height: 234px;
}
.picture__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-rest{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery-text{
    margin-top: 32px;
    font-family: Barlow;
    font-size: 9.9px;
    line-height: 1.2;
    font-weight: 500;
    color: #8c8c8c;
}
/* ----------------------------------designer--------------------------- */
.designer{
    padding: 146px 142px 0 93px;
    background: url(../images/box3/box3__bgrd.png) no-repeat;
    background-position: 0 109px;
    position: relative;
}
.picture_sz707{
    width: 707px;
    height: 386px;
    position: absolute;
    top: -60px;
    left: 0;
}
.block{
  display: flex;
  justify-content: flex-end;
}
.about{ 
    display: flex;
    flex-direction: column;
}
.about__kyla{
    margin-bottom: 75px;
    font-family: Baskerville;
    font-size: 35.5px;
    line-height: 1.2;
    font-weight: 400;
    color: #cb9e61;
}
.about__renovate{
    margin-bottom: 36px;
    font-family: Baskerville;
    font-size: 35.5px;
    line-height: 1.2;
    font-weight: 400;
    color: #808183;
}
.about__renew{
    text-align: center;
    padding-top: 5px;
    margin-bottom: 135px;
    font-family: Baskerville;
    font-size: 19.2px;
    font-weight: 400;
    color: #ffffff;
    width: 237px;
    height: 29px;
    background-color: #cb9e61;
}
.about__phrase{
    font-family: 'Black Jack';
    font-size: 30.3px;
    font-weight: 400;
    color: #808183;
}
.picture_sz419{
    width: 419px;
    height: 392px;
    margin: -215px 17% 0 auto;
}
/* -----------------------------------thenew---------------------- */
.thenews{
    padding: 0 58px 0 58px;
    background: url(../images/thenews/news__bgrd1.png) no-repeat;
    background-position: 0 37px;
}
.thenews__wrap{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 64px;
}
.wrap{
    margin-top: 266px;
}
.title-wrap__h2{
    font-family: Baskerville;
    font-size: 35.5px;
    line-height: 1.2;
    font-weight: 400;
    color: #cb9e61;
}
.title-wrap__span{
    font-family: Baskerville;
    font-size: 35.5px;
    line-height: 1.2;
    font-weight: 400;
    color: #8c8c8c;
    margin-bottom: 32px;
}
.input-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-menu__email{
    width: 100%;
    height: 41px;
    background-color: #ffffff;
    border: 2px solid #8c8c8c;
}
.input-menu__btn{
    font-family: Baskerville;
    font-size: 22.6px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #ffffff;
    width: 473px;
    height: 41px;
    background-color: #cb9e61;
    margin-bottom: 19px;
}
.news__text{
    font-family: Barlow;
    font-size: 14.5px;
    line-height: 1.2;
    font-weight: 500;
    color: #808183;
}
.picture_sz448{
    width: 448px;
    height: 870px;
}
/* -------------------------arcade------------------------ */
.arcade{
    min-height: 760px;
    background: url(../images/arcade/arcade__bgrd.png) no-repeat;
    background-position: top 170px right 0;
    position: relative;
    z-index: 3;
}
.arcade__gallery::before {
  content: '';
  background: url(../images/arcade/arcade_cloud.png) no-repeat;
  width: 975px;
  height: 387px;
  display: block;
  right: 28%;
  top: 0;
  position: absolute;
  z-index: 1;
}
.arcade__title{
    text-align: center;
    margin-top: 130px;
    font-family: Baskerville;
    font-size: 56.5px;
    line-height: 69px;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #cb9e61;
    position: relative;
    z-index: 3;
}
.arcade__gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
    padding-right: 4%;
}
.arcade-cart{
    display: flex;
    flex-direction: column;
}
.arcade-cart_pos343{
    margin-top: 343px;
}
.arcade-cart__figure{
    border: 1px solid #e0c39c;
    width: 187px;
    height: 20px;
    background-color: #e0c39c;
    margin-bottom: 7PX;
    margin-left: 211px;
}
.picture_sz398{
    width: 398px;
    height: 265px;
}
.picture_sz518{
    width: 519px;
    height: 523px;
}
.picture_sz228{
    width: 228px;
    height: 230px;
}
.picture_pos63{
    margin-top: 63px;
}
.picture__text{
    padding-top: 10px;
    text-align: center;
    width: 398px;
    min-height: 39px;
    background-color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16.7px;
    font-weight: 500;
    letter-spacing: 0.08em;
    color: #ffffff;
 }
 .picture__text_size{
    width: 519px;
    height: 39px;
 }
.arcade__text{
    max-width: 400px;
    font-family: Baskerville;
    font-size: 33.4px;
    line-height: 1.2;
    font-weight: 400;
    color: #cb9e61;
    margin: -70px auto;
}
/* -------------------------------renovate------------------------------- */
.renovate{
    min-height: 858px;
    padding: 188px 53px 0 9%;
    background: url(../images/renovate/renovate__bgrd.png) no-repeat;
    background-position: right 0 bottom 90px;
    position: relative;
}
.renovate__wrap-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 75px;
    position: absolute;
    z-index: 5;
   
}
.renovate__tittle{
    font-family: Baskerville;
    font-size: 35.5px;
    line-height: 1.2;
    font-weight: 400;
    color: #cb9e61;
}
.renovate__text{
    font-family: Baskerville;
    font-size: 35.5px;
    line-height: 1.2;
    font-weight: 400;
    color: #808183;
}
.renovate__phrase{
    font-family: 'Black Jack';
    font-size: 30px;
    line-height: 38px;
    font-weight: 400;
    color: #808183;
}
.renovate__wrap-picture{
    position: absolute;
    right: 249px;
    top: 151px;
    z-index: 4;
}
.picture_sz739{
    width: 739px;
    height: 532px;
    border: 7px solid #ffffff;
    position: relative;
}
.picture_sz338{
    width: 338px;
    height: 228px;
    border: 7px solid #ffffff;
    position: absolute;
    top: 476px;
    right: 79px;
}
.renovate__wrap-picture::after{
    content: '';
    background: url(../images/renovate/renovate__plant.png) no-repeat;
    position: absolute;
    left: 0;
    top: 362px;
    width: 193px;
    height: 283px;
    display: block;
}
.renovate__figura{
    width: 51px;
    height: 171px;
    background-color: #e0c39c;
    display: block;
    position: absolute;
    top: 12px;
    right: -53px;
}
.picture__span{
    width: 38px;
    height: 38px;
    background-color: #daccb6;
    border: 3px solid #ffffff;
    border-radius: 16.2px;
    position: absolute;
    top: 260px;
    right: -9px;
}
.picture__span::before{
    content: '';
    width: 38px;
    height: 38px;
    background-color: #cca77c;
    border: 3px solid #ffffff;
    border-radius: 16.2px;
    position: absolute;
    top: -48px;
    right: -2px;
}
.picture__span::after{
    content: '';
    width: 38px;
    height: 38px;
    background-color: #8d8b8a;
    border: 3px solid #ffffff;
    border-radius: 16.2px;
    position: absolute;
    top: 44px;
    left: -1px;
}
/* ----------------------------gift-table--------------------------- */
.gift-table{
    min-height: 974px;
    background: url(../images/gift-table/gift_table__bgrd.png) no-repeat;
    background-position: bottom 0 right 0;
    margin: 47px 60px 0 88px;
    position: relative;
    z-index: 3;
}
.gift-table::before{
    content: '';
    background: url(../images/gift-table/gift_table__cloud.png) no-repeat,url(../images/gift-table/gift_table__cloud_2.png) no-repeat;
    background-position: top -115px left -85px,top -115px left 254px;
    display: block;
    width: 965px;
    height: 397px;
    position: absolute;
    z-index: 2;
}
.picture_sz1292 {
    width: 1292px;
    height: 881px;
}
.gift-table__title{
    text-align: center;
    font-family: Baskerville;
    font-size: 35.5px;
    line-height: 1.2;
    font-weight: 400; 
    color: #cb9e61;
    position: absolute;
    top: 55px;
    right: 26%;
    z-index: 4;
}
.input-menu_pos{
    padding: 57px 38px 43px;
    width: 544px;
    height: 351px;
    opacity: 0.81;
    background-color: #ffffff;
    position: absolute;
    bottom: 266px;
    right: 28%;
}
.input-menu__cell{
    font-family: Montserrat;
    font-size: 10.9px;
    font-weight: 400;
    line-height: 11px;
    color: #808183;
    padding-left: 18px;
    width: 455px;
    height: 37px;
    background-color: #ffffff;
    border: 1px solid #8c8c8c;
}
.input-menu__btn_sz455{
    width: 454px;
    height: 35px;
    background-color: #cb9e61;
}
/* -------------------------------discounts------------------------ */
.discounts{
    padding: 0 116px 0 88px;
    background: url(../images/discounts/discounts__bgrd.png) no-repeat;
    background-position: top -60px right 0;
    position: relative;
}
.discounts__pictures-wrap{
    display: inline-block ;
}
.picture_sz608{
    width: 608px;
    height: 852px;
    position: relative;
}
.picture_sz509{
    width: 509px;
    height: 341px;
    border: 7px solid #ffffff;
    position: absolute;
    top: 53px;
    left: 42%;
}
.picture_324{
    width: 324px;
    height: 216px;
    position: absolute;
    top: 392px; 
    left: 49%;
}
.discounts__figura{
    width: 66px;
    height: 233px;
    background-color: #e0c39c;
    position: absolute;
    bottom: 4px;
    left: 49%;
}
.discounts__text-wrap{
    display: flex;
    justify-content: flex-end;
    font-family: Baskerville;
    color: #cb9e61;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 7%;
}
.text-wrap{
    display: flex;
    flex-direction: column;
}
.discounts__title{
    font-size: 185.1px;
    line-height: 226px;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #cb9e61;
}
.text-wrap__hours{
    font-size: 64.2px;
    line-height: 78px;
    font-weight: 400;
    letter-spacing: 0.04em;
}
.text-wrap__discounts{
    font-size: 39.2px;
    line-height: 44px;
    font-weight: 400;
}
/* --------------------------------footer--------------------------- */
.footer{
    background: #999999;
    max-width: 1326px;
    height: 525px;
    margin: 57px 57px;
    padding: 139px 4% 128px 16%;
}
.footer__wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu__list_position{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.menu__link_color{
    color: white;
}
.title-wrap__h2_style{
    font-family: Baskerville;
    font-size: 23.4px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}
.title-wrap__span_style{
    font-family: Baskerville;
    font-size: 23.4px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}
.input-menu__email_size{
    width: 313px;
    height: 28px;
}
.input-menu__btn_size{
    width: 309px;
    height: 24px;
    font-size: 14.9px;
}
.news__text_style{
    color: #ffffff;
    font-size: 9.6px;
    line-height: 1.2;
    font-weight: 500;
}
.phrasa__solitions{
    font-family: Baskerville;
    font-size: 15.9px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #ffffff;
}
.phrasa__home{
    font-family: Baskerville;
    font-size: 57.4px;
    line-height: 70px;
    font-weight: 400;
    letter-spacing: 0.14em;
    color: #ffffff;
    margin-bottom: 56px;
}
.phrasa__sweet{
    font-family: 'Black Jack';
    font-size: 30.4px;
    line-height: 37px;
    font-weight: 400;
    color: #ffffff;
}