@font-face {
  font-family: 'Cardo';
  src: url(../fonts/Cardo-Bold.woff2) format('wwoff2'),
    url(../fonts/Cardo-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Cardo';
  src: url(../fonts/Cardo-Italic.woff2) format('wwoff2'),
    url(../fonts/Cardo-Italic.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Black.woff2) format('wwoff2'),
    url(../fonts/Lato-Black.ttf) format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Bold.woff2) format('wwoff2'),
    url(../fonts/Lato-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Light.woff2) format('wwoff2'),
    url(../fonts/Lato-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Regular.woff2) format('wwoff2'),
    url(../fonts/Lato-Regular.ttf) format('truetype');
  font-weight: 400;
}

